:root{
    --child-bg-color : rgb(9, 9, 100);
    --option-bg-color : rgb(231, 170, 16);
}

body{
    font-family: "comic sans ms";
    background-color: lightgray;
    color : #fff;
}
.border{
    border : 5px solid white;
    border-radius: 1.25rem;
}

.container {
    display : flex;
    flex-direction : column;
    align-items: center;
margin : 2rem;
}
.txt-styling{
    font-size: 1.5rem;
}
.wrapper{display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--child-bg-color);
    text-align: center;
    width : 90vw;
    height : 10vh;
    margin : 1.25rem;
   }

   .option:hover{
       background-color: var(--option-bg-color);
   }

   .scoring{
       justify-content: space-around;
   }

   .big-container{
       display: flex;
       flex-direction: column;
   }

   .nav-link{
       text-decoration: none;
   }
   .nav-link:hover{color : white;

   }

   .nav{
       display: flex;
       justify-content: space-between;
   }